$color: rgb(238, 222, 222);
$color2:rgb(18, 20, 18);
.Texto{
    background: $color;
    color: $color2;
}
.table {
    text-align: center;
}

div {
    @extend .table;
    @media screen and (max-width: 720px)  {
        text-align: justify;
    }
}